@import 'reset';
@import '../basestyle';

@mixin girar($graus) {
	transform:rotate($graus);
	-webkit-transform:rotate($graus);
	-moz-transform:rotate($graus);
	-ms-transform:rotate($graus);
}

nav {
	margin-top:50px;
	background-color:#EEE;
	height:200px;

	ul {
		margin:0px;
		padding:0;
		list-style:none;
	}

	li {
		
		display:inline-block;
		width:100px;
		text-align:center;
		padding:0;

		

		a {
			display:block;
			background-color: #CCC;
			padding:10px;
			text-decoration:none;
			color:#000;
		}
	}
}

%item {
	background-color:#000;
	height:40px;
	margin-bottom:5px;
	color: white;
}
$item-width: 250px;

.item {
	@extend %item;
	width:$item-width;
}
.item-duplo {
	@extend %item;
	width: $item-width * 2;
}
.item-metade{
	@extend %item;
	width: $item-width / 2;
}
.item-triplo{
	@extend %item;
	width: 200px * 3;
}

