body {
  margin: 0;
  font-family: arial;
}

nav {
  margin-top: 50px;
  background-color: #EEE;
  height: 200px;
}
nav:hover a {
  font-weight: bold;
}
nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  width: 100px;
  text-align: center;
}
nav li a {
  display: block;
  background-color: #CCC;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
nav li a:hover {
  background-color: #999;
}

.item-10, .item-9, .item-8, .item-7, .item-6, .item-5, .item-4, .item-3, .item-2, .item-1 {
  font-size: 14px;
  border: 1px solid #333;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5%;
  margin-bottom: 5px;
  width: 80%;
  background-color: #FF0003;
}

.item-3, .item-2, .item-1 {
  background-color: #FF00FF;
}
